{% extends 'main.html.twig' %}


{% block title %} Feiertage Verwaltung{% endblock %}
{% block body %}
    <div class="row" >
        <div class="col-lg-12">

            <div class="modal" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Processing...</h5>
                        </div>
                        <div class="modal-body">

                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default ">
                <div class="panel-heading">
                    <h3 class="panel-title">Feiertage</h3>
                </div>
                <div class="panel-body ">

                    <div id="feedback"></div>

                    {{ form_start(addFeirtagForm,{'attr':{'id': 'feirtagForm','class':'form-group-md'}}) }}

                    <div class="form-group">
                        {{ form_row(addFeirtagForm.Freitag_Name,{'id': 'Freitag_Name'}) }}
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
                            {{ form_row(addFeirtagForm.Freitag_Datum,{'id': 'Freitag_Datum'}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Hinzufügen" class="btn btn-erstellen pull-right">
                    </div>

                    {{ form_end(addFeirtagForm) }}

                </div>
            </div>

        </div>

    </div>

    <script type="text/javascript">

        $(document).ready(function () {
            $('.js-datepicker-Feiertagsdat').datepicker({language: 'de', format: 'dd.mm.yyyy',autoclose:true});

            $("#feirtagForm").bootstrapValidator({

                submitHandler: function (validator, form, submitButton) {


                    var data = $('#feirtagForm').serializeArray();


                    $.ajax({
                        type: "POST",
                        url: "{{ path('save_feirtag') }}",
                        data: data,
                        dataType: "json",
                        beforeSend: function () {
                            $('#pleaseWaitDialog').modal('show');
                        },
                        complete: function () {
                            $('#pleaseWaitDialog').modal('hide');
                        },
                        success: function (response) {
                            var table = $('#sg-datatables-freitag_datatable').DataTable();
                            table.order( [[ 0, 'desc' ]] ).draw();
                            $('#feirtagForm').bootstrapValidator('resetForm', true);
                        },
                        error: function (response) {
                            $('#feirtagForm').bootstrapValidator('resetForm', true);
                            $('#feedback').html('');
                            $('#feedback').html('<div class="alert alert-danger" role="alert">Something Wrong<!!</div>');
                        }
                    });


                },
                fields: {

                    'Freitag_Name': {

                        validators: {

                            notEmpty: {

                                message: 'Bitte einen gültigen Wert eingeben'
                            }
                        }
                    },
                    'Freitag_Datum': {

                        validators: {

                            notEmpty: {

                                message: 'Bitte einen gültigen Wert eingeben'
                            }
                        }
                    }


                }

            });


        });


    </script>


    <div class="row" style="margin-bottom: 30px;">
        <div class="col-lg-12">

            <div class="panel panel-default ">
                <div class="panel-heading">
                    <h3 class="panel-title"><span style="color: #337ab7;">Feiertage Tabelle</span></h3>
                </div>
                <div class="panel-body ">

                    {{ sg_datatables_render(datatable) }}



                </div>
            </div>

        </div>

    </div>



{% endblock %}




