{% extends 'loginLayout.html.twig' %}

{% block body %}




    <div class="row"
         style="padding-top: 5%; background-color: #4f5d73;-moz-border-radius: 9px 9px 9px 9px;border-radius: 9px 9px 9px 9px;">

        <div class="col-lg-3"></div>

        <div class="col-lg-6">

            <div class="jumbotron">


                <div align="center" style="padding-bottom: 2%">
                    <h3 style="color: #4f5d73"> Stunden Plan System</h3></br>
                    <img src='{{ asset('img/login.png') }}' class="img-rounded">

                </div>

                {{ form_start(form,{'attr':{'id': 'reset_password','class':'form-group-sm'}}) }}

                <div class="form-group ">
                    {{ form_row(form._password.first,{
                        'id':'password',
                        'label': 'New Password',
                        'attr':{'class':'form-control','placeholder':'New Password'}
                    }) }}

                </div>

                <div class="form-group ">
                    {{ form_row(form._password.second,{
                        'id':'cpassword',
                        'label': 'Confirm Password',
                        'attr':{'id':'cpassword','class':'form-control','placeholder':'Confirm Password'}
                    }) }}
                </div>



                <div class="form-group ">
                    <button type="submit" class="btn btn-danger" formnovalidate>Reset Password</button>
                </div>
                {{ form_end(form) }}

                {% for msg in app.session.flashBag.get('successchangedpassword') %}
                    <div class="alert alert-success">
                        {{ msg }}
                    </div>
                {% endfor %}


                <script type="text/javascript">
                    $(document).ready(function() {
                        $('#reset_password').bootstrapValidator({
                            message: 'This value is not valid',
                            feedbackIcons: {

                                valid: 'glyphicon glyphicon-ok',
                                invalid: 'glyphicon glyphicon-remove',
                                validating: 'glyphicon glyphicon-refresh'


                            },

                            fields: {



                                "_password[first]":{

                                    validators:{

                                        notEmpty:{

                                            message:"Password Is Required"
                                        },
                                        identical: {
                                            field: "_password[second]",
                                            message: 'The password and its confirm are not the same'
                                        },
                                        stringLength :{

                                            min:6,
                                            message:'Your password is not valid '
                                        }

                                    }
                                },

                                "_password[second]":{

                                    validators:{

                                        notEmpty:{
                                            message:"Please Confirm Your Password"
                                        },
                                        identical:{

                                            field:"_password[first]",
                                            message:"please enter the same password"
                                        },
                                        stringLength :{

                                            min:6,
                                            message:'Your password is not valid '
                                        }
                                    }
                                }


                            }




                        });
                    });





                </script>




            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>


{% endblock %}